<html>
<head>
  <style>
  #controls{
    text-align: center;
  }
  ul{
    list-style-type:square !important;
  }
  .right{
    float: right;
  }
  .hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}
.link{
  color: white !important;
}
#theFrame{
  height: 50%;
  max-height: 50%;
}
#theFile{
  height: 100%;
  width: 100%;
}

  </style>
</head>
  <body>
    <div class='container'>
      {{#if resourceData.resourceID}}
        <h1 class='page-header'>{{resourceData.resourceTitle}} <span class='right'>
          <button class='btn btn-small btn-success' id='downloadButton' data-ref='{{resourceData.fileReference}}'>
            <span class='glyphicon glyphicon-download' data-toggle="tooltip" data-placement="bottom" title="Download this file">
            </span>
          </button>
      </span>
    </h1>
      {{else}}
        <h1 class='page-header'>Resource Not Found</h1>
      {{/if}}
<div class='col-xs-12'>
  <div id='summary' class='col-xs-6'>
    <h4>Resource #{{resourceData.resourceID}}</h4>
    <p>
      <span class='text-muted'>ID:</span> <span>{{resourceData.resourceShortName}}</span>
    </p>
    <p>
      <span class='text-muted'>Title:</span> <span>{{resourceData.resourceTitle}}</span>
    </p>
    <p>
      <span class='text-muted'>Project Page:</span><a ref="{{resourceData.link}}">{{resourceData.link}}</a></span>
    </p>
    <p>
      <span class='text-muted'>Category:</span> <span>{{resourceData.resourceCategory}}</span>
    </p>
    {{#if resourceData.resourceDescription}}
    <div class='hangingindent'>
      <p class='text-muted'>Description</p>
      <p>{{resourceData.resourceDescription}}</p>
    </div>
    {{/if}}

    <hr />
    <div class='col-xs-12'>
      <h5>Authors</h5>
      {{#each resourceData.authors}}
        <li style="list-style: none">{{this.last}}, {{this.first}} {{this.middle}}</li>
      {{/each}}
    </div>
    <div class='col-xs-6'>
      <h5>Tags</h5>
      {{#each resourceData.tags}}
        <li style="list-style: none">{{this}}</li>
      {{/each}}
    </div>
    {{#if resourceData.references}}
    <div class='col-xs-12'>
      <h5>References</h5>
      {{#each resourceData.references}}
        <li style="list-style: none" class='hangingindent'>{{this.string}}</li>
      {{/each}}
    </div>
    {{/if}}
    <p>
      <span class='text-muted'>Created:</span> <span>{{resourceData.resourceCreationDate}}</span>
    </p>
    <p>
      <span class='text-muted'>Uploaded:</span> <span>{{resourceData.approvalDate}}</span>
    </p>
    <p>
      <span class='text-muted'>Uploader:</span> <span>{{resourceData.uploaderName}} ({{resourceData.uploaderEmail}})</span>
    </p>
  </div>
  <div id='image-holder' class='col-xs-12'>
    <div id='theFrame'>
      {{#if resourceData.link}}
      <iframe src='{{resourceData.link}}' height='100%' width='100%' ></iframe>
      {{else}}
      <embed id='theFile' class='img-responsive' src='http://cartlabserver.shc.wisc.edu:8080{{resourceData.fileReference}}'>
      {{/if}}
    </div>
    <h5>File Properties</h5>
    <p>
      <span class='text-muted'>Type:</span> <span>{{resourceData.fileDescription}}</span>  <i>({{resourceData.mimetype}})</i>
    </p>
    <p>
      <span class='text-muted'>Name:</span> <span>{{resourceData.fileReference}}</span>
    </p>
    <p>
      <span class='text-muted'>Size:</span> <span>{{resourceData.fileSize}}</span>
    </p>
  </div>
  <script>
    //init tooltips

    </script>
  </body>
</html>
