<style>
.hangingindent{
  padding-left: 22px ;
  text-indent: -22px ;
}
#date{
  float:right;
}
</style>
{{#each resources}}
<div class='media'>
  <div class='media-left col-xs-4'>
    <!-- <a href="Http://localhost:8080/search/{{this.resourceID}}">
      <object src="http://cartlabserver.shc.wisc.edu:8080/{{this.fileReference}}" data="http://cartlabserver.shc.wisc.edu:8080/{{this.fileReference}}" class='img-responsive'>
      </object>
    </a> -->
  </div>
  <div class='media-body'>
    <span class='small text-muted sr-resource-date' id='date'>{{this.resourceCreationDate}}</span>
    <h4 class='media-heading sr-resource-title'><a href='project.html?id={{this.resourceID}}' class='sr-resource-title-link'>{{this.resourceTitle}}</a></h4>
    <strong><i class='link text-muted sr-resource-link'><a href="{{this.link}}">{{this.link}}</a></i></strong>
    <p>
      {{#each this.authors}}
        <span class='text-muted sr-resource-author'> <a href="search.html?q={{this.last}}">{{this.last}}, {{this.first}} {{this.middle}}</a></span><span>
          &middot;</span>
      {{else}}
        <span class='text-muted sr-resource-author sr-resource-no-author'>No Author Listed</span>
      {{/each}}
    </p>
    {{#if this.resourceDescription}}
      <p>
        <strong class='sr-description-header'>Description:</strong>
        <span class='sr-description'>{{this.resourceDescription}}</span>
      </p>
    {{/if}}
    <p>
      <strong class='sr-category'>Category: </strong><a href='search.html?category={{this.resourceCategory}}'>{{this.resourceCategory}}</a>
    </p>
    <p>
      <span class='strong sr-tags-header'>Tags: </span>
      {{#each this.tags}}
        <span class='sr-tag'><a style="text-decoration: underline" href="search.html?q={{this}}">{{this}}</a></span>
      {{/each}}
    </p>
    {{#if this.references}}
    <div>
      <h6 class='sr-reference-header'>References</h6>
      {{#each this.references}}
        <span class='sr-reference'>{{this.string}}</span>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
<hr />
{{else}}
<h4 class='page-header'>No resources match your query.</h4>
<p>
  Please try again with a different search term.
</p>
{{/each}}
